<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RazaCTR</servlet-name>
        <servlet-class>Controladores.RazaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioCTR</servlet-name>
        <servlet-class>Controladores.UsuarioCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaCTR</servlet-name>
        <servlet-class>Controladores.PersonaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlimentoCTR</servlet-name>
        <servlet-class>Controladores.AlimentoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoteCTR</servlet-name>
        <servlet-class>Controladores.LoteCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCTR</servlet-name>
        <servlet-class>Controladores.ValidarCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>principalCTR</servlet-name>
        <servlet-class>Controladores.principalCTR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RazaCTR</servlet-name>
        <url-pattern>/RazaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCTR</servlet-name>
        <url-pattern>/UsuarioCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaCTR</servlet-name>
        <url-pattern>/PersonaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlimentoCTR</servlet-name>
        <url-pattern>/AlimentoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoteCTR</servlet-name>
        <url-pattern>/LoteCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCTR</servlet-name>
        <url-pattern>/ValidarCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>principalCTR</servlet-name>
        <url-pattern>/principalCTR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
